---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import NaturalLanguageForm from "../components/NaturalLanguageForm.astro"
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import tommel from "../assets/images/thumbsup.png";
---

<MainLayout title="#singleusesucks">

    <section id="hero">
    <div class="w-full h-screen bg-cover bg-center bg-[url('/hero_background.webp')]">
      <div class="pt-12 px-16">
        <h1 class="font-bebas text-custom-orange text-9xl mb-4">#singleusesucks</h1>
		<NaturalLanguageForm/>
      </div>
    </div>
</section>

<section id="whale 1"></section>

<section id="platicpercentage">
  <div class="h-screen text-center flex items-center justify-center">
    <div>
      <p class="font-bebas text-custom-offwhite text-4xl leading-relaxed">
        <span class="text-custom-orange">5%</span> FLYDER I OVERFLADEN
      </p>
      <p class="font-bebas text-custom-offwhite text-4xl leading-relaxed">
        <span class="text-custom-orange">95%</span> FALDER LÆNGERE NED I HAVET
      </p>
    </div>
  </div>
</section>


<section id="quote" class="h-screen flex items-center justify-center text-center">
  <div class="max-w-3xl">
    <p class="font-bebas text-custom-offwhite text-5xl">
      “DET ER JO BARE ÉN PLASTIKPOSE”<br>
      – SAGDE <span class="text-custom-orange">8 MILLIARDER</span> MENNESKER
    </p>
    <p class="font-poppins text-lg text-custom-offwhite mt-6">
      Plastikforurening påvirker både det, vi kan se, og det, vi ikke kan. Plastikposer kan samles op, men mikroplast forbliver i naturen og ender i vores fødekæde, hvor det skader både dyr og mennesker. Havdyr kæmper med affaldet, og skadelige kemikalier spreder sig i miljøet.
    </p>
  </div>
</section>







<section id="plasticvsplastic" class="grid grid-cols-2 gap-8 text-center h-screen items-center">
  <!-- Venstre kolonne -->
  <div>
    <h2 class="font-bebas text-custom-offwhite text-5xl leading-none">
      SYNLIG PLASTIK<br>FORURENING
    </h2>
    <p class="font-poppins text-lg text-custom-offwhite mt-4">
      Du kan samle en plastik pose op
    </p>
  </div>

  <!-- Højre kolonne -->
  <div>
    <h2 class="font-bebas text-custom-offwhite text-5xl leading-none">
      USYNLIG PLASTIK<br>FORURENING
    </h2>
    <p class="font-poppins text-lg text-custom-offwhite mt-4">
      Du er nødt til at filtrere mikroplast fra
    </p>
  </div>
</section>


<section id="whale 2"></section>

<section id="piechart"></section>

<section id="turtle"></section>

<section id="support"></section>

    <Button>Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={tommel} alt="" />
</MainLayout>
