---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import NaturalLanguageForm from "../components/NaturalLanguageForm.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import tommel from "../assets/images/thumbsup.png";
import Footer from "../components/Footer.astro";
import bluewhale from "../assets/images/mrwhale.webp";
---

<MainLayout title="#singleusesucks">
  <section id="hero">
    <div class="w-full h-screen bg-cover bg-center bg-[url('/hero_background.webp')]">
      <div class="pt-12 px-16">
        <h1 class="font-bebas text-custom-orange text-9xl mb-4">#singleusesucks</h1>
        <NaturalLanguageForm />
      </div>
    </div>
  </section>

<section id="whale 1"></section>

  <section id="platicpercentage"></section>

  <section id="quote"></section>

  <section id="plasticvsplastic"></section>

<section id="whale 2"></section>

<section id="piechart"></section>

<section id="turtle"></section>

<section id="support"></section>

    <Button>Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={tommel} alt="" />
</MainLayout>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));

  scroll(animate(".parallaxelement", { y: [0, 150] }), {
    target: document.querySelector(".parallaxelement"),
  });
</script>
