---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import NaturalLanguageForm from "../components/NaturalLanguageForm.astro"
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="#singleusesucks">
  <article>
    <div class="w-full h-screen bg-cover bg-center bg-[url('/hero_background.webp')]">
      <div class="pt-12 px-16">
        <h1 class="font-bebas text-custom-orange text-9xl mb-4">#singleusesucks</h1>
		<NaturalLanguageForm/>
      </div>
    </div>

    <Button>Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={thumbsup} alt="" />
  </article>
</MainLayout>
