---
import { Image } from "astro:assets";
import jellyfish from "../assets/images/jellyfish.webp";
---

<section id="stagger" class="mx-16 mb-96 relative mt-96">
  <div class="grid grid-cols-3 relative z-10 place-items-center">
    <div class="bg-custom-lightblue w-[8rem] h-[30rem] m-auto opacity-75 flex flex-col justify-end mb-6 staggeranimation">
      <h3 class="text-custom-darkblue text-center text-3xl font-semibold">70%</h3>
    </div>

    <div class="bg-custom-lightblue w-[8rem] h-[20rem] m-auto opacity-75 flex flex-col justify-end mb-6 staggeranimation">
      <h3 class="text-custom-darkblue text-center text-3xl font-semibold">22%</h3>
    </div>

    <div class="bg-custom-lightblue w-[8rem] h-[10rem] m-auto opacity-75 flex flex-col justify-end mb-6 staggeranimation">
      <h3 class="text-custom-darkblue text-center text-3xl font-semibold">8%</h3>
    </div>
  </div>

  <div class="md:grid grid-cols-3 relative z-10 place-items-center">
    <div class="text-custom-offwhite md:max-w-xs">
      <p class="font-semibold">Hav- og miljøindsatser (70%)</p>
      <p class="mb-4">En stor del går til at mindske plastikforurening via events, undervisning og mobilisering af Plastic Changer-bevægelsen. Vi udfører også årlige oprydninger globalt for at rense vores hav og strande.</p>
    </div>
    <div class="text-custom-offwhite md:max-w-xs">
      <p class="font-semibold">Fundraising og indsamlinger (22%)</p>
      <p class="mb-4">En mindre del går til fundraising og indsamlinger, så Plastic Changer-bevægelsen kan blive ved med at vokse. Det gør det muligt at nå ud til endnu flere mennesker i kampen mod plastikforurening.</p>
    </div>
    <div class="text-custom-offwhite md:max-w-xs">
      <p class="font-semibold">Projektstyring og administration (8%)</p>
      <p class="mb-4">En lille del går til administration, drift og vedligehold. Derudover bruges det til at sikre, at Plastic Change har et fysisk sted at bo, så vi kan udføre vores aktiviteter og opnå vores mål.</p>
    </div>
  </div>

  <!-- Venstre billede -->
  <div class="absolute w-[60%] h-auto max-w-none opacity-70" style="left: -5%; top: -35%; transform: rotate(-20deg);">
    <Image src={jellyfish} alt="jellyfish" />
  </div>

  <!-- Højre billede -->
  <div class="absolute w-[55%] h-auto max-w-none opacity-70" style="right: -2%; bottom: -20%; transform: rotate(20deg);">
    <Image src={jellyfish} alt="jellyfish" />
  </div>
</section>

<script>
  import { inView, animate, stagger } from "motion";

  inView("#stagger", () => {
    animate(
      ".staggeranimation",
      { opacity: [0, 1] },
      {
        delay: stagger(0.5, { start: 1 }),
      }
    );
  });
</script>
