---

---

<section>
  <div class="text-custom-offwhite font-poppins px-20 grid grid-cols-2 pt-60 w-full h-screen bg-cover bg-center bg-[url('/havbunden.webp')]">
    <div>
      <div>
        <p class="text-2xl font-medium font-bold">Bliv en del af forandringen</p>
        <p>Tilmeld dig vores nyhedsbrev</p>
        <p class="text-2xl font-medium pt-10">Følg <strong>Plastic Change</strong> på sociale medier</p>
        <div class="flex justify-start space-x-4 pt-4">
          <img src="/assets/facebook.svg" alt="Facebook" class="w-10 h-10" />
        </div>
      </div>
    </div>

    <!-- Email tilmelding og knap -->
    <div class="">
      <p>Email tilmelding og knap her</p>
    </div>
  </div>
</section>
