---

---

<div class="text-custom-offwhite font-poppins px-20 grid grid-cols-2 pt-72 w-full h-screen bg-cover bg-center bg-[url('/havbunden.webp')]">
  <div>
    <div>
      <p class="text-4xl font-medium">Bliv en del af forandringen</p>
      <p class="text-2xl">Tilmeld dig vores nyhedsbrev</p>
      <p class="text-2xl pt-14">Følg <strong>Plastic Change</strong> på sociale medier</p>
    </div>
  </div>
  <div>
    <input type="email" id="email2" name="email" placeholder="E-mail" aria-label="Indtast din e-mail" class="px-28 py-4 text-custom-ocean text-center" />
    <input type="submit" id="subscribe2" value="Tilmeld" class="text-custom-offwhite bg-custom-green border border-custom-green py-4 px-20 text-center cursor-pointer transition duration-300" />
  </div>
</div>
