---
import { Image } from "astro:assets";
import whalebackground from "../assets/images/whalebackground1.webp";
import whalebag from "../assets/images/posehval.webp";
import plasticbottle from "../assets/images/plastikflaske.webp";
---

<section id="whale1" class="pb-8 sm:pb-24 mb-8 sm:mb-16 relative w-full h-[80vh] md:h-[110vh]">
  <div class="md:grid grid-cols-2 gap-4 pt-8 relative z-10 px-4 sm:px-8 md:px-16">
    <div>
      <h2 class="font-bebas text-custom-offwhite text-5xl sm:text-6xl max-w-xxs pt-16">Skrald der <span class="text-custom-orange">aldrig</span> forsvinder</h2>
    </div>
    <div class="parallaxelement">
      <p class="max-w-md md:max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-4 sm:px-8 py-6 text-sm sm:text-base">
        Plastikforurening opstår, når plastikaffald ender i naturen og bliver der i årtier. Kun <strong>5% af plastikken</strong> flyder på overfladen, mens <strong>95% ligger dybere</strong> i vandsøjlen, hvilket gør det sværere at opdage.
      </p>
    </div>
  </div>

  <!-- Hval baggrundsbillede -->
  <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
    <Image class="max-w-full h-auto" src={whalebackground} alt="whale" />
  </div>

  <!-- Billeder -->
  <div class="grid grid-cols-4 grid-rows-4 gap-4 absolute inset-0 w-full h-full pointer-events-none">
    <Image class="col-span-2 col-start-2 row-start-2 row-span-3 z-0 w-[30vw] opacity-80 animate__pulse animate__animated plasticanimation" style="animation-duration: 20s;" src={whalebag} alt="plastic bag" />
    <Image class="col-span-1 col-start-3 row-start-3 row-span-3 z-0 w-[15vw] opacity-80 animate__pulse animate__animated plasticanimation" style="animation-duration: 20s;" src={plasticbottle} alt="plastic bottle" />
  </div>
</section>

<script>
  import { animate, inView, scroll } from "motion";

  scroll(animate(".parallaxelement", { y: [0, 150] }), {
    target: document.querySelector(".parallaxelement"),
  });

  const animations = document.querySelectorAll(".plasticanimation");

  animations.forEach((item) => {
    inView(item, () => {
      item.classList.add("animate__animated", "animate__wobble", "animate__infinite", "animate__delay-1s", "ease-in-out");
    });
  });
</script>
