---
import { Image } from "astro:assets";
import bluewhale from "../assets/images/mrwhale.webp";
import whalebag from "../assets/images/posehval.webp";
import plasticbottle from "../assets/images/plastikflaske.webp";
---

<section id="whale 1" class="pb-40 mb-48 w-screen overflow-clip">
  <div class="md:grid grid-cols-2 gap-2 mx-16 relative z-10">
    <div>
      <h2 class="font-bebas text-custom-offwhite text-6xl mb-4 max-w-xxs">Skrald der <span class="text-custom-orange">aldrig</span> forsvinder</h2>
    </div>
    <div class="parallaxelement">
      <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Plastikforurening opstår, når plastikaffald ender i naturen og bliver der i årtier. Kun <strong>5% af plastikken</strong> flyder på overfladen, mens <strong>95% ligger dybere</strong> i vandsøjlen, hvilket gør det sværere at opdage.</p>
    </div>
  </div>
  <Image class="absolute z-0 w-[180%] h-auto max-w-none" style="left: -350px; top: 55%;" src={bluewhale} alt="whale" />
  <Image class="absolute z-0 w-[40%] opacity-80" style="left: 300px; top: 155%;" src={whalebag} alt="plastic bag" />
  <Image class="absolute z-0 w-[20%] opacity-80" style="left: 700px; top: 160%;" src={plasticbottle} alt="plastic bottle" />
</section>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));

  scroll(animate(".parallaxelement", { y: [0, 150] }), {
    target: document.querySelector(".parallaxelement"),
  });
</script>
