---
import { Image } from "astro:assets";
import whaleleft from "../assets/images/hvalfravenstre.webp";
---

<section id="whale2" class="mx-16 mb-8 relative">
  <div class="z-10 relative mt-40">
    <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8 m-auto">Plastic Change har som <strong>mission</strong> at skabe handling lokalt, nationalt og globalt. Vi sætter fokus på <strong>plastikudfordringerne</strong> gennem mobilisering, vidensdeling og samarbejde med befolkning, erhvervsliv og politikere.</p>
    <br />
    <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8 m-auto">Vores <strong>vision</strong> er et miljø uden <strong>plastikforurening</strong>, så kommende generationer kan nyde havets ressourcer uden risiko for plastikindhold.</p>
  </div>

  <div class="overflow-hidden"><Image class="absolute z-0 w-[180%] h-auto max-w-none" style="left: -500px; top: -130%;" src={whaleleft} alt="whale" /></div>
</section>